<div id="workers" class="list">
  <h4>Workers</h4>
  {{#collection SC.TemplateCollectionView tagName="ul" itemClass="worker" contentBinding="Travis.controllers.workers"}}
    {{content.id}}
  {{else}}
    No workers
  {{/collection}}
</div>
