html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 120%;
  margin: 0;
  padding: 0;
  background: inline-image('layout/bg-left.png') repeat-y -27px top;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
td, th {
  text-align: left;
  font-size: 13px;
  padding: 5px 10px;
  vertical-align: top;
}
caption {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

/* layout */

#top {
  display: block;
  background-color: black;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 11;
  font-size: 13px;
  line-height: 40px;
  background: inline-image('layout/bg-top.png') repeat-x;
}
#left {
  position: absolute;
  top: 40px;
  width: 400px;
  /* background-image: inline-image('background.jpg'); */
}
#middle {
  padding: 60px 360px 30px 460px;
}
#right {
  position: absolute;
  right: 0px;
  min-height: 100%;
  width: 300px;
  z-index: 10;
  border-left: 1px solid #ccc;
  background-color: #f2f4f9;
}
#right .inner {
  padding: 70px 50px 30px 50px;
}


/* top */

#top {
  color: #ccc;

  h1 {
    float: left;
    width: 73px;
    height: 30px;
    margin: 4px 0 0 22px;
    text-indent: -99px;
    overflow: hidden;
    color: #d52818;
    font-size: 24px;
    background: url('/images/logo.png') no-repeat;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: #ccc;
  }
  #navigation {
    float: left;
    margin-left: 40px;
  }
  #navigation li {
    float: left;
  }
  #navigation .current {
    background-color: black;
  }
  #navigation li a {
    display: block;
    padding: 0 15px;
  }
  .profile {
    margin: 0 160px 0 0;
    float: right;
  }
  .profile img {
    vertical-align: middle;
    margin-top: -4px;
  }
  .profile .name {
    margin-left: 7px;
    padding-right: 15px;
    background: inline-image('layout/top-arrow-down.png') no-repeat 6px right;
  }
  .profile ul {
    display: none;
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 160px;
    background-color: #444;
    -webkit-border-bottom-left-radius: 4px 4px;
    -webkit-border-bottom-right-radius: 4px 4px;
    -moz-border-bottom-left-radius: 4px 4px;
    -moz-border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    -moz-box-shadow: 2px 2px 10px #888;
    -webkit-box-shadow: 2px 2px 10px #888;
    box-shadow: 2px 2px 10px #888;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul a {
    display: block;
    padding: 5px 33px;
    line-height: 24px;
  }
  .profile ul a:hover {
    background-color: #555;
  }
  .profile ul li:last-child a:hover {
    -webkit-border-bottom-left-radius: 4px 4px;
    -webkit-border-bottom-right-radius: 4px 4px;
    -moz-border-bottom-left-radius: 4px 4px;
    -moz-border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
  }
}


/* left */

#left {
  #search {
    height: 90px;
    padding: 30px 20px 0 20px;
    background-color: #e5e8ee;
  }
  #search input[type=text] {
    height: 28px;
    width: 97%;
    padding: 0 0 0 10px;
    font-size: 10pt;
    color: #666;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    border-radius: 4px 4px;
    background: #fff inline-image('icons/search.png') no-repeat 335px 8px;
  }
  .tabs {
    margin-top: -29px;
  }
  .tabs li:first-child h5 {
    margin-left: 20px;
  }

  #repositories {
    li {
      position: relative;
      padding: 15px 25px 15px 45px !important;
      border-bottom: 1px solid #ccc;
      font-size: 16px;
      background-position: 24px 16px;
      background-repeat: no-repeat;
    }
    li:nth-child(odd) {
      background-color:#fff;
    }
    li:nth-child(even) {
      background-color:#f6f6f6;
    }
    li.green a {
      color: green;
    }
    li.red a {
      color: #c00;
    }
    li .build {
      float: right;
    }
    li .summary {
      margin: 5px 0 0 0;
      font-size: 13px;
      color: #666;
    }
    li .indicator {
      display: none;
    }
    li.selected .indicator {
      display: block;
      position: absolute;
      top: 0px;
      right: -17px;
      width: 17px;
      height: 100%;
      background: no-repeat center left;
    }
    li:nth-child(odd) .indicator {
      background-image: inline-image('layout/current-repository-indicator-odd.png');
    }
    li:nth-child(even) .indicator {
      background-image: inline-image('layout/current-repository-indicator-even.png');
    }
  }
}

#left #repositories li,
#middle .summary .number a,
#middle #matrix td:first-child a,
#middle #builds tbody td:first-child a {
  background-image: inline-image('icons/status.yellow.png');
  padding-left: 20px;
  background-repeat: no-repeat;
}
#left #repositories li.green,
#middle .summary.green .number a,
#middle #matrix .green td:first-child a,
#middle #builds .green td:first-child a {
  background-image: inline-image('icons/status.green.png');
  color: green;
  padding-left: 20px;
  background-repeat: no-repeat;
}
#left #repositories li.red,
#middle .summary.red .number a,
#middle #matrix .red td:first-child a,
#middle #builds .red td:first-child a {
  background-image: inline-image('icons/status.red.png');
  color: #c00;
  padding-left: 20px;
  background-repeat: no-repeat;
}


/* middle */

#middle {
  .repository {
    position: relative;
  }
  h3 {
    margin: 15px 0 0 0;
    font-size: 24px;
  }
  a {
    color: #666;
    text-decoration: underline;
  }

  .github-stats {
    position: absolute;
    top: 0;
    right: 0;
  }
  .github-stats > * {
    float: left;
  }
  .github-stats a {
    color: #999;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    padding-left: 20px;
    background: no-repeat 0px 2px;
  }
  .github-stats .watchers {
    background-image: inline-image('icons/github-watchers.png');
  }
  .github-stats .forks {
    background-image: inline-image('icons/github-forks.png');
  }

  .tabs {
    margin-top: 35px;
  }
  .tabs li {
    white-space: nowrap;
  }
  .tab {
    padding-left: 12px;
  }
  #tab_parent {
    display: none;
  }
  #tab_build:not(.active) {
    display: none;
  }
  .tools {
    display: block;
    float: right;
    width: 39px;
    height: 21px;
    margin-top: 3px;
    text-indent: -99px;
    overflow: hidden;
    background: inline-image('icons/tools-button.png') no-repeat;
    cursor: pointer;
  }
  dl {
    color: #666;
    margin-bottom: 30px;
  }
  .profile-avatar {
    float: left;
  }
  .profile {
    margin: 20px 0 30px 60px;
  }
  .profile dt {
    display: block;
    float: left;
    width: 50px;
  }
  .profile dd {
    clear: right;
  }
  .summary {
    margin: 20px 0 0 0;
  }
  .summary .left,
  .summary .right {
    float: left;
  }
  .summary dt,
  .summary dd {
    float: left;
    height: 25px;
    margin: 0;
  }
  .summary dt {
    clear: left;
    width: 70px;
  }
  .summary dd {
    width: 180px;
  }
  .summary > dd {
    width: 80%;
    min-width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .log {
    clear: left;
    white-space: pre-wrap;
    line-height: 140%;
    font-size: 90%;
    margin-top: 25px;
    padding: 15px;
    color: white;
    background-color: #333;
    border-radius: 4px 4px;
    overflow-x: auto;
  }
  .log .yellow {
    color: yellow;
  }
  .log .red {
    color: red;
  }
  .log .green {
    color: lime;
  }
  .log .fold {
    height: 16px;
    overflow: hidden;
    margin: 0 -15px;
    padding: 0 15px;
    background: #444 inline-image('icons/log.fold.closed.2.png') no-repeat 99.5% 2px;
    cursor: pointer;
  }
  .log .fold.open {
    height: auto;
    background-image: inline-image('icons/log.fold.open.2.png');
  }
  #matrix {
    margin: 20px 0 0 -12px;
  }
  #matrix caption {
    margin-left: 12px;
    margin-bottom: 8px;
  }
  #builds {
    width: 100%;
    margin: 25px 0 0 -12px;
  }
  #builds th {
    font-size: 13px;
    color: #666;
  }
  #builds th,
  #builds td {
    white-space: nowrap;
  }
  #builds td.message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  #builds tr {
    max-height: 20px;
  }
  #builds tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
  }
}

#builds .green .number a {
  color: green;
}
#builds .red .number a {
  color: #C00;
}

/* right */

#right {
  font-size: 13px;

  .inner > div:first-of-type h4 {
    margin-top: 15px;
  }
  h4 {
    margin: 25px 0 0 0;
  }
  ul {
    margin-top: 10px;
  }
  li {
   list-style-type: square;
   margin-left: 15px;
  }
  #workers li,
  #jobs li {
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }
  .placeholder,
  .indicator {
    display: none;
  }
  .empty .placeholder,
  .loading .indicator {
    display: none;
  }
  .box {
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    border-radius: 4px 4px;
    background-color: #fff;
  }
  .box h4 {
    margin: 0;
  }
  .box a {
    text-decoration: underline;
  }
  #alpha_warning {
    background-color: #ffffda;
  }
  #alpha_warning h4 {
    padding-left: 20px;
    background: inline-image('construction.png') no-repeat top left;
  }
  #alpha_warning p {
    margin-bottom: 0;
    color: #666;
  }
  #sponsors h4 {
    margin: 0 -4px 0 0;
    padding-right: 21px;
    background: inline-image('smile.png') no-repeat 1px right;
  }
  #sponsors div {
    margin: 15px -15px -15px -15px;
    padding: 10px 15px 5px;
    background-color: #eee;
    -webkit-border-bottom-left-radius: 4px 4px;
    -webkit-border-bottom-right-radius: 4px 4px;
    -moz-border-bottom-left-radius: 4px 4px;
    -moz-border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
  }
  #sponsors img {
    border: 1px solid #bbb;
    width: 168px;
  }
}

.list.loading h4 {
  background: inline-image('spinner.gif') no-repeat 4px right;
  padding-right: 15px;
}
.list ul {
  min-height: 1em;
}
.list li:not(.empty) ~ .empty {
  display: none;
}


/* tabs */

.tabs {
  position: relative;

  h5 {
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
    -webkit-border-top-left-radius: 4px 4px;
    -webkit-border-top-right-radius: 4px 4px;
    -moz-border-top-left-radius: 4px 4px;
    -moz-border-top-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-bottom-color: transparent;
    cursor: pointer;
    z-index: 0;
  }
  .active h5 {
    background-color: #fff;
    border-bottom-color: #fff;
    z-index: 2;
  }
  h5 a {
    padding: 0 10px;
    display: block;
    height: 29px;
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
  }
  .tab {
    position: absolute;
    display: none;
    left: 0;
    top: 29px;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: 1;
  }
  .active .tab {
    display: block;
  }
}

/* scrollbars */

pre::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
pre::-webkit-scrollbar-button:start:decrement, pre::-webkit-scrollbar-button:end:increment {
  display: none;
}
pre::-webkit-scrollbar-track-piece {
  background: #444;
  -webkit-border-radius: 4px;
}
pre::-webkit-scrollbar-thumb:horizontal {
  background: -webkit-gradient(linear, left top, left bottom, from(#85888E), to(#55585E));
  -webkit-border-radius: 4px;
  width: 25px;
}


/* stuff */

.eta, .eta_label {
  display: none;
}

.profile-avatar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#github_ribbon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 149px;
  height: 150px;
  background: url('/images/github-ribbon.png') no-repeat;
  text-indent: -999px;
  overflow: hidden;
  z-index: 3;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.sc-view {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 19px;
  cursor: auto;
}
.sc-view abbr, .sc-view acronym {
  border-bottom: none;
  cursor: auto;
}
.sc-view abbr, .sc-view acronym {
  border: auto;
  font-variant: auto;
}
.sc-view ol, .sc-view ul, .sc-view dl {
  margin-left: 0;
}
.sc-view blockquote, .sc-view ul, .sc-view ol, .sc-view dl {
  margin: 0;
}
.sc-view dl {
  font-size: 13px;
}
.sc-view dt {
  font-weight: normal !important;
}
.sc-view th {
  font-weight: bold;
  text-align: left;
}
.sc-view th, .sc-view td {
  border: 0;
  padding: 5px 10px;
}

.core-test { /* sproutcore test runner */
  z-index: 999;
  background-color: transparent;
}

